/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */

@import 
url('https://fonts.googleapis.com/css2?family=Itim&family=Lato:wght@400;700&display=swap');

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/************************************************INICIO DE Estilos generales*************************************************/

/* Reset */
* {
    background-color: #fbfbfb;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.5;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    text-align: center;
    font-family: 'Itim', 'cursive';
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

/*Para tener todas las imagenes iguales y modificarlas por separado*/

img {
    width: 100%;
}

/*Para que toda las secciones se muestren en todo el alto de pagina*/

#inicio, #contacto {
    min-height: 100vh;
}

/*Mismos estilos para boton y footer*/

#boton-descarga, footer{
    background-color: #af599e;
    color: #fbfbfb;
    padding: 20px 20px 20px 20px;
}

/*Para organizar los parrafos*/

p {
    padding: 20px 20px 20px 20px;
}

/************************************************FIN DE Estilos generales*************************************************/


/*Header de la pagina*/

header {
    box-shadow: 1px 1px 10px 1px rgba(32,32,32,0.3);
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -25px;
    position: fixed;
    width: 100%;
}

.logo {
    max-width: 120px;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

nav ul li a:hover{
    background-color: #af599e;
    color: white
}

/*Primera seccion*/

#inicio {
    margin: 25px;
}

.foto-perfil {
    max-width: 200px;
    height: 200px;
    width: 400px;
    border-radius: 50%;
    margin-top: 100px;
}

h1 {
    font-size: 36px;
    font-family: 'Lato', sans-serif;
}

#boton-descarga {
    font-size: 20px;
    border-radius: 50px;
}

#boton-descarga:hover {
    background-color: #b37fa9;
}


/*Segunda seccion*/

#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px 0px 20px;
}

h2 {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}

.mas-info {
    background-color: rgba(175, 89, 158, 0.3);
    color: #0f0f0f;
    border-radius: 50px;
}

ul li a img {
    max-width: 80px;    
}

.mis-redes ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.mis-redes ul li a img:hover {
    background-color: #b37fa9;
}

/*Footer de la pagina*/

footer {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mas-info h2, .mas-info p, footer p {
    background-color: transparent;
}